/* primeiro projeto web */

body{
    background: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}
.hero{
    background-image: url("../imagens/bg-3.jpg");
    height: 700px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;

}
.hero nav ul{
    text-align: right;

}
.hero nav ul li{
    display: inline-block;
    list-style: none;
    border: 1px solid white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 30px;
 }
.hero nav ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.3);

}
.hero nav ul li a:hover{
    background: rgba(0, 0, 0, 0.5);
}
.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;

}
.hero-content h2{
    display: inline-block;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid white;
    padding: 10px;
}
.hero-content h1{
    text-transform: uppercase;
    font-size:  50px;
    text-shadow: 3px 3px 3px black;
}
main{
    width: 80%;
    margin: auto;
}
.card {
    float: none;
}
.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
}
.post article header h2{
    border-bottom: 2px solid #6b6b6b;
    padding: 10px;
    margin-top: -2px;
    font-size: 30px;
}
.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
    margin-left: 1%;
}
.card img{
    width: 100%;
    display: block;
}
.card p{
    background-color: rgb(70, 69, 69);
    color: white;
    display: block;
    margin: 0;
    padding: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.post article header{
    background-color: #bebebe;
    clear: both;
}

footer{
    color: white;
    background-color: #6b6b6b;
    text-align: center;
    padding: 15px;
    text-shadow: 1px 1px 4px black;
    margin-top: 15px;
}
