body{
    width: 80%;
    margin: auto;
    font-family: sans-serif;
}
#topbar header{
    background-image: url("../imagens/topo.jpg");
    height: 800px;
    background-position: left center;
    background-size: cover;
    margin-top: 10px;
}

#topbar img{
    float: left;
}
#topbar nav{
    background-color: #001018;
    padding: 15px;
}
#topbar nav ul{
    text-align: right;
}

#topbar nav ul li{
    display: inline-block;
    margin-right: 15px;
}
#topbar nav ul li a{
    font-family: sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    color: #006a94;
}

#portifolio{
    margin: 8%;
}
#portifolio h1{
    font-size: 55px;
    text-align: center;
    font-family: sans-serif;
}
#portifolio p{
    font-size: 22px;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
    color: #686666;
    line-height: 2;
}

#galery{
    text-align: center;
}
.card{
    display: inline-block;
    align-items: center;
    margin: 10px;
}
.card h2{
    font-family: sans-serif;
    letter-spacing: 3px;
}
.card p{
    font-family: sans-serif;
    color: #686666;
}

.cartao{
    background-image: url("../imagens/bg_detalhe.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-color: #013b53;
    height: 800px;
}
.cartao{
    color: white;
}
.cartao header p{
    text-transform: uppercase;
    font-size: 70px;
    margin: 0;
}
.cardtext{
    font-size: 27px;
    display: block;
    width: 70%;
    line-height: 2;
}
.cardcontent{
    padding: 120px;
}
#about h3{
    text-align: center;
    color: #013b53;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
}
#map{
    height: 800px;
    width: 100%;
    text-align: center;
}
footer{
    background-color: #001018;
    text-align: center;
    letter-spacing: 5px;
    padding: 20px;
    margin: 10px;
}
footer p{
    color: #006a94;
}